# 1. What are the differences between Operaztors and values in the follwing

In [2]:
# *  - Multiplication operator

s = 4*4 
print(s) #16

16

In [19]:
# 'hello' string value

s='hello'
print(s) #hello
print(type(s)) #<class 'str'>

hello
<class 'str'>

In [14]:
# -87.8 negative number of type float

a=-87.8
a=-87.8+80
print(a) #-7.799999999999997
print(type(a)) #<class 'float'>

-7.799999999999997
<class 'float'>

In [15]:
# - minus operator

a=8-4

print(a) #4

4

In [17]:
# / divide opertaor gives Quotient

a=8/4

print(a) #2.0

2.0

In [18]:
# + addition operator

a=8+4
print(a) #12

12

In [20]:
# 6 - value of type int

a=6
type(6) #int

int

# 2. What is the difference between string and variable

In [21]:
# 'spam' - text 
# spam - name that can refer a value 

spam1 = 'spam'

#spam1 is variable
#'spam'is text value assigned to variable spam1

#varibale do not need to be declared with any types in advance.
#string needs to be enclosed in single or double qoutes

# 3. Describe three different data forms/types.

In [24]:
#Text
#Numerica
#Boolean

#TEXT IS STRING
a="HELLO" 
print(type(a)) #<class 'str'>

#Numeric - number (int , float, complex)
a=4
b=4.00
c=3+4j

print(type(a)) #<class 'int'>
print(type(b)) #<class 'float'>
print(type(c)) #<class 'complex'>


#Boolean
a=False # or can be True

print(type(a)) #<class 'bool'>

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

# 4.What makes up an expression? What are the functions of all expressions

In [28]:
#Expression is a combination of varibales, Operations and values that yeild a result value

#5*5 or (5*5)<(36) #expression

print(6*6) # Entire line is a statement where 6*6 that yeilds a value of 36 is an expression 
#Expressions are often part of a statement

36

# 5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

In [29]:
spam = 10  #statement or declaration where as 10 is an expression

#we are creating a variable spam and declaring value 10 in it. 
#10 is the expression that is declared and assigned to variable.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [35]:
bacon = 22
bacon + 1 
# 22+1 but it is not assigned back to varibale. so the variable bacon holds value 22. 
print(bacon) # 22

#incase
bacon=bacon+1
print(bacon) #23

22
23

# 7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

In [40]:
a="spam" + "spamspam"
print(a) #spamspamspam

b="spam"*3
print(b) #spamspamspam

spamspamspam
spamspamspam

# 8. Why is it that eggs is a true variable name but 100 is not?

In [44]:
#variable name cannot start with number
#variable name should start with a letter or a underscore.

egg = 2 #no issues

100=2 #SyntaxError
1abc=2 #SyntaxError

SyntaxError: invalid syntax (<ipython-input-44-ceccdeab26b0>, line 6)

# 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

In [50]:
#int(), float(),str()

x=int('1') # x is 1
y=float(2) #y is 2.0
z=str(1)  #z is '1'

# 10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [58]:
#a= 'I have eaten ' + 99 + ' burritos.' # now 99 is int so we cant concatenate it with a string 

#so we have to typecast int to str and then concatenate

a = 'I have eaten ' + str(99)+ ' burritos.'

print(a) #'I have eaten 99 burritos.'

I have eaten 99 burritos.